/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* Background */
body {
    background: linear-gradient(135deg, #D7BBF5, #A076F9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form Box */
.form-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-in-out;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #6528F7;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #A076F9;
}

/* Animation */
@keyframes slideIn {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.back-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 8px 15px;
    width: fit-content;
    background: #334EAC;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.back-button:hover {
    background: #081F5C;
}
