/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* Background */
body {
    background: #081F5C;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Neumorphic Box */
.neumorphic-box {
    background: #334EAC;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 10px 10px 20px #081F5C, -10px -10px 20px #334EAC;
    text-align: center;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

/* Button */
button {
    width: 100%;
    padding: 10px;
    background: #7096D1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #D0E3FF;
}

.back-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 8px 15px;
    width: fit-content;
    background: #334EAC;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

.back-button:hover {
    background: #081F5C;
}
